.banner.banner__sub {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    &.banner__sub-alt {
        background-color: red;
    }

    .container {
        padding: 50px;

        .banner__title {
            text-align: left;
            font-size: 53px;
            font-weight: bold;
            line-height: 66px;
            letter-spacing: 0;
            color: #ffffff;
            max-width: 621px;
            margin-top: 20px;
        }
    }
}

#content {
    article {
        img {
            height: auto;
        }
    }
}