.banner__sub {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    .banner__header {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h1 {
        text-align: left;
        font-size: 53px;
        font-weight: bold;
        letter-spacing: 0;
        color: #ffffff;
        max-width: 621px;
        margin-top: 20px;

        @include breakpoint(768) {
            font-size: 40px;
            line-height: 50px;
        }

        @include breakpoint(510) {
            font-size: 30px;
            line-height: 40px;
        }

        @include breakpoint(398) {
            font-size: 25px;
            line-height: 30px;
        }
    }

    &-alt {

        h1 {
            max-width: 100%;
        }
    }
}

#content {
    article {
        img {
            height: auto;
        }
    }
}