.site-footer {
    background: #F2F4F5 0% 0% no-repeat padding-box;
    opacity: 1;

    .container {
        padding-top: 50px;

        .site-logo {
            width: unset;

            img {
                width: 100px;
                height: 91px;
                margin-bottom: 30px;
            }
        }

        .content {
            p {
                text-align: left;
                letter-spacing: 0;
                color: #313131;
                opacity: 1;
            }
        }

        .copyright {
            p {
                letter-spacing: 0;
                color: #807E7E;
                opacity: 1;

                @include min-breakpoint(768) {
                    margin-top: 80px;
                }

            }
        }

        .menu-title,
        .contact-us {
            text-align: left;
            font: Bold 20px/25px Century Gothic;
            letter-spacing: 0;
            color: #BC0078;
            opacity: 1;
        }

        .footer-menu {
            margin-bottom: 25px;

            li {
                padding: 0;

                &.active {
                    a {
                        color: #BC0078;
                    }
                }

                a {
                    text-align: left;
                    font: normal 17px/33px Century Gothic;
                    letter-spacing: 0;
                    color: #313131;
                    opacity: 1;
                    padding: 0;

                    &:hover {
                        color: #BC0078;
                    }
                }
            }
        }

        .contact-address,
        .phone-number {
            text-align: left;
            font: normal 18px/29px Century Gothic;
            letter-spacing: 0;
            color: #4A4A4A;
            opacity: 1;
        }
    }
}