/** =========================================
1.0  Site Header
========================================== */
.site-header {

    &__top {
        padding: 5px 0;
        color: $darkerblue_color;

        .header-info {
            text-align: center;

            @include breakpoint(768) {
                display: contents;
            }

            &>div {
                padding: 0;
            }

            span {
                text-align: left;
                font: Bold 16px/22px Century Gothic;
                letter-spacing: 0;
                color: #313131;
                opacity: 1;
            }
        }

        .grid {
            flex-wrap: wrap;
        }

        .col {

            &--left,
            &--right {
                padding: 0;
            }

            &--left {
                width: 115px;
                display: flex;
                align-items: center;

                @include min-breakpoint(768) {
                    width: 50%;
                }
            }

            &--right {

                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .wrapper {
                    display: flex;

                    @include breakpoint(768) {
                        display: unset;
                    }

                    .info {
                        margin: 0;
                    }

                    .call {
                        display: flex;

                        @include breakpoint(768) {
                            display: inline-flex;
                        }
                    }
                }

                span {
                    display: inline-block;
                    margin-right: 5px;
                    font-size: 14px;

                    @include breakpoint(768) {
                        margin-right: 7px;
                        font-size: 14px;
                    }

                    &.email {
                        margin-right: 20px;
                    }
                }

                ul {
                    display: flex;
                    text-align: center;
                    margin: 0 auto;
                    width: fit-content;

                    li {
                        padding: 0;

                        a {
                            padding: 2px 9px;
                            border-radius: 38px;
                            background: #BC0078;
                            width: 30px;
                            height: 30px;
                            margin: 0 5px;

                            @include breakpoint(768) {
                                padding: 0px 0px 1px;
                                border-radius: 38px;
                                background: #BC0078;
                                width: 21px;
                                height: 21px;
                                margin: 0 1px;
                            }

                            i {
                                color: white;

                                @include breakpoint(768) {
                                    font-size: 12px;
                                    position: relative;
                                    top: -3px;
                                }
                            }

                        }
                    }
                }

            }
        }

        span {
            font-size: 18px;
            line-height: 1.2;
        }

        .btn {
            padding: 6px 15px;
            font-size: 15px;
            text-transform: uppercase;
            color: $darkerblue_color;

            &:hover {
                color: #fff;
            }
        }
    }

    &__middle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dropdown-menu {
            width: max-content;

            li {
                display: block;
                margin: 0 15px;
            }
        }

        @include min-breakpoint(992) {
            .main-menu li:hover .dropdown-menu {
                display: block !important;
            }
        }

        .container {
            padding: 0 15px 15px 15px;

            @include breakpoint(768) {
                padding: 15px 15px
            }
        }

        >div {
            display: flex;
        }

        .navbar {
            padding: 0;
            display: block;

            .navbar-brand {
                color: #BC0078 !important;
            }

            .navbar-toggler rect {
                fill: #BC0078 !important;
            }
        }
    }
}

.site-logo {
    width: 130px;

    img.attachment-thumbnail.size-thumbnail {
        @include breakpoint(768) {
            width: 75px;
        }
    }
}

.site-nav {
    width: calc(100% - 130px);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
        text-align: left;
        font: Bold 18px/25px Century Gothic;
        letter-spacing: 0;
        color: #171717;
        opacity: 1;
    }

    .active .nav-link {
        color: #BC0078;
    }

    .btn {
        display: none;
    }

    @include min-breakpoint(768) {
        .btn {
            display: block;
            font-size: 17px;

            i {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }

    #burgerMenu {
        width: 25px;
    }

    .navbar-toggler {
        padding: 0;

        &-icon {
            width: auto;
            height: auto;
        }
    }

    .navbar {
        &__mobile {
            display: flex;
            align-items: center;

            &:hover,
            &:focus {
                .navbar-toggler {
                    background: transparent;

                    rect {
                        fill: $primary_color;
                    }
                }

                a {
                    color: $primary_color;
                }
            }
        }

        @include breakpoint(767) {
            position: inherit;
        }

        button {

            &:hover,
            &:focus {
                outline: none;
            }
        }
    }

    .navbar-brand {
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;

        @include min-breakpoint(768) {
            display: none;
        }
    }

    .navbar-collapse {
        @include breakpoint(767) {
            margin-top: 20px;
            position: absolute;
            z-index: 5;
            width: 100%;
            background: #f4f4f7;
            left: 0;
            padding: 10px 15px;
        }
    }
}

.main-menu {
    text-align: right;

    li {
        display: inline-block;
        margin-left: 20px;
        padding: 0;

        a {
            font-family: $brand_fontbold;
            font-size: 19px;
            transition: color 0.3s ease;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        &.current-menu-item {
            a {
                color: $primary_color;
            }
        }
    }
}