.cta-section {
    .container {
        padding: 50px 15px
    }

    h2 {
        text-align: left;
        font-weight: bold;
        font-size: 44px;

        & span {
            color: #F05D34;
        }

        @include breakpoint(991) {
            font-size: 40px !important;
        }

        @include breakpoint(768) {
            font-size: 30px !important;
        }

        @include breakpoint(510) {
            font-size: 30px !important;
        }

        @include breakpoint(398) {
            font-size: 25px !important;
        }
    }

    @include breakpoint(768) {
        .text-right {
            text-align: left !important;
        }

    }

    a {
        &.btn {
            background: #8BC34A 0% 0% no-repeat padding-box;
            width: 250px;
            height: 56px;
            border-radius: 0;
            line-height: 40px;
        }
    }
}