.form_image-section {
    .container {
        padding: 50px 15px;

        .form__horizontal {
            box-shadow: none;
        }

        h1 {
            &.form-title {
                font-size: 24px;
                font-weight: bold;
                line-height: 40px;
                text-align: center;
            }
        }
    }
}