.formula-section {
    .container {
        @include min-breakpoint(1200) {
            max-width: 850px;
        }

        padding: 50px 15px;

        .formula {
            padding: 50px 0;
            border-top: 1px solid $w;
            border-bottom: 1px solid $w;
            opacity: 1;

            .title {
                text-align: center;
                font-size: 38px;
                line-height: 49px;
                font-weight: bold;
                letter-spacing: 0;
                color: $b;
                opacity: 1;
            }

            .content {
                text-align: center;
                font-size: 18px;
                line-height: 34px;
                font-weight: normal;
                letter-spacing: 0;
                color: $b;
                opacity: 1;
            }

            .formula_img {
                text-align: center;

                img {
                    width: 392px;
                    height: 63px;
                    margin-top: 33px;


                }
            }
        }

        .form {
            padding-top: 50px;
            padding-bottom: 50px;

            .title {
                text-align: center;
                font-size: 38px;
                line-height: 49px;
                font-weight: bold;
                letter-spacing: 0;
                color: $b;

                & span {
                    color: $brand_color;
                }
            }

            .subtitle {
                text-align: center;
                font-size: 18px;
                line-height: 29px;
                font-weight: normal;
                letter-spacing: 0;
                color: #010101;
                opacity: 1;
                margin: 0 auto 20px;

                @include min-breakpoint(1200) {
                    max-width: 450px;
                }
            }

            .gform_wrapper {
                .gf_name_has_2 {
                    span {
                        @include breakpoint(767) {
                            width: 100% !important;
                        }
                    }
                }

                input[type="submit"] {
                    width: 277px;
                    height: 48px;
                    background: #8bc34a 0% 0% no-repeat padding-box;
                    border-radius: 6px;
                    opacity: 1;
                    font-size: 18px;
                    line-height: 49px;
                    font-weight: bold;
                    letter-spacing: 0;
                    color: #FFFFFF;
                    opacity: 1;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0;

                }

                .gform_title {
                    display: none;
                }

                .gform_footer {
                    margin: 0;
                }

                #gform_fields_5 {

                    .gfield_label {
                        display: none;
                    }

                    .gfield {
                        margin: 0;

                        &.gf_left_half {
                            @include min-breakpoint(768) {
                                padding-right: 8px !important;
                            }

                            @include breakpoint(767) {
                                width: 100% !important;
                            }
                        }

                        &.gf_right_half {
                            @include min-breakpoint(768) {
                                padding-left: 8px !important;
                            }

                            @include breakpoint(767) {
                                width: 100% !important;
                            }
                        }
                    }

                    .ginput_container {
                        margin: 0 !important;
                    }

                    input {
                        background: $w 0% 0% no-repeat padding-box;
                        border: 1px solid $b;
                        height: 48px;
                        opacity: 1;
                        font-size: 18px;
                        line-height: 49px;
                        font-weight: normal;
                        letter-spacing: 0;
                        color: $b;
                        opacity: 1;
                        margin: 0 !important;
                        margin-bottom: 12px !important;

                        &::placeholder {
                            color: $b;
                        }
                    }

                    textarea {
                        height: 106px;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        border: 1px solid #0C0C0C;
                        opacity: 1;

                        &::placeholder {
                            color: #0C0C0C;
                        }
                    }
                }
            }
        }
    }
}