 #landing {
     .site-header__middle {
         .grid {
             width: 100%;
         }
     }

     .site-logo {
         @include breakpoint(767) {
             text-align: center;
             margin: 10px auto;
         }

     }

     .count {
         p {
             font-size: 28px;
             margin: 0;
             text-transform: uppercase;
             font-weight: 700;
             text-align: right;
             margin-top: 20px;

             @include breakpoint(767) {
                 text-align: center;
                 margin-top: 0;
             }

             @include breakpoint(767) {
                 font-size: 25px;
             }

             @include breakpoint(398) {
                 font-size: 20px;
             }

             span {
                 font-size: unset;
                 color: #b30073;
                 font-weight: bolder;
             }
         }

     }

     .with-separator {
         border-right: 1px solid #efefef;
     }

     .countdown-timer {
         max-width: 400px;
         padding: 20px 0;
         float: right;
         text-align: center;

     }

     .countdown-timer span {
         font-size: 12px;
         color: #b9b9b9;
         display: block;
         margin-top: -10px;
     }

     .countdown-timer strong {
         font-weight: 700;
         font-size: 30px;
         display: block;
     }
 }