.hero-section {
    // background: transparent url(../../assets/images/hero_bg.png) center center no-repeat padding-box;
    opacity: 1;
    left: -237px;
    width: 100%;
    height: auto;
    background-size: cover !important;

    .container {
        padding: 80px 15px 0;

        @include breakpoint(768) {
            padding: 50px 15px 0;
        }

        .title span {
            color: $orange_color;
        }

        .wrapper {
            background: rgba(242, 242, 242, .9);
            padding: 20px 30px;
            width: fit-content;
            margin-top: 180px;
            bottom: 0;

            @include breakpoint(1200) {
                margin-top: 195px;
            }

            @include breakpoint(991) {
                margin-top: 0;
                background: none;
                padding: 20px 0;
            }

            h1 {
                text-align: left;
                font-size: 40px;
                line-height: 1.5em;
                font-family: Century Gothic;
                font-weight: bold;
                letter-spacing: 0;
                color: $b;
                max-width: 621px;

                @include breakpoint(992) {
                    max-width: unset;
                }

                @include breakpoint(768) {
                    font-size: 40px;
                    line-height: 50px;
                }

                @include breakpoint(510) {
                    font-size: 30px;
                    line-height: 40px;
                }

                @include breakpoint(398) {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

        }
    }
}