.subscribe-section {
    position: relative;
    background-size: cover !important;

    .container {
        padding: 50px 0;

        .form-section {
            .form__horizontal {

                h2,
                h1 {
                    text-align: center;
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: bold;
                    letter-spacing: 0;
                    color: #000000;

                }

                .sign-up-text {
                    p {
                        text-align: left;
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 0;
                        color: #171717;

                    }
                }

                .gform_wrapper {

                    #gform_6 {
                        width: fit-content;

                        .gform_title,
                        .gfield_label {
                            display: none;
                        }

                        li {
                            margin-top: 0;
                            padding-bottom: 0
                        }
                    }
                }
            }
        }
    }
}