.testimonial_video-section {
    padding: 70px 0;
    background: #f6f6f6 0% 0% no-repeat padding-box;

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    video {
        width: 100% !important;
        height: auto !important;
    }

    .container {
        max-width: 847px;

        .title {
            text-align: center;
            font-weight: bold;
            font-size: 34px;
            letter-spacing: 0;


            span {
                color: #f05d34;
            }
        }

        .subtitle {
            font-size: 24px;
            text-align: center;
        }

        .name {
            text-align: left;
            font-weight: bold;
            letter-spacing: 0;
            color: #f05d34;
            margin: 0;

        }

        .testimonials {
            .content {
                text-align: center;
                letter-spacing: 0;
                color: #242424;

                margin: 0 auto;
            }

            .profile-pic {
                text-align: center;

                .profile_pic {
                    width: 147px;
                    height: 147px;
                }
            }

            .row.testament {
                margin-bottom: 70px;
                margin-top: 70px;
            }

            .video-container {
                margin-top: 20px;
            }
        }

        .iwant {
            background: #7fc92a 0% 0% no-repeat padding-box;
            padding: 15px 30px;
            height: 58px;
            font-weight: bold;
            font-size: 28px;
            letter-spacing: 0;
            color: #ffffff;
            border: 0;
            margin-top: 30px;
        }
    }
}