.text-section {
    .container {
        padding: 30px 15px;

        .title {
            h1 {
                font-size: 20px;
                font-weight: bold;
                line-height: 49px;
                letter-spacing: 0;
                color: #000000;

            }
        }

        .content {
            ul {
                list-style-type: disc;

                p,
                li {
                    text-align: left;
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 31px;
                    letter-spacing: 0;
                    color: #313131;

                }
            }
        }
    }
}