.text_video-section {
    .container {
        padding: 50px 15px;

        h2 {
            text-align: left;
            color: #0D0D0D;
            font-size: 35px;
            line-height: 44px;
            font-weight: bold;
        }

        @include min-breakpoint(768) {
            img {
                margin-top: 70px;
            }
        }

    }
}