.text_video-section {
    .container {
        padding: 50px 0 0;

        .content {
            p {
                font-size: 18px;
                line-height: 29px;
                font-weight: normal;
                letter-spacing: 0;
                color: #000000;
            }
        }
    }
}