.video-section {
	.container {
		padding-top: 50px;
		padding-bottom: 50px;

		.main-title {
			text-align: center;
			font-size: 38px;
			line-height: 49px;
			font-weight: bold;
			letter-spacing: 0;
			color: #000;
			margin-bottom: 30px;
		}

		.content {
			border: 1px solid #eee;
			padding: 5px;
			margin-bottom: 20px;

			p {
				margin-bottom: 0;

				&.title {
					font-weight: bold;
				}
			}
		}
	}
}
