.video-section {
	.container {
		padding-top: 50px;
		padding-bottom: 50px;

		.content {
			border: 1px solid #eee;
			padding: 5px;
			margin-bottom: 20px;

			p {
				margin-bottom: 0;

				&.title {
					font-weight: bold;
				}
			}
		}
	}
}
