.wheel-section {
    margin-top: 50px;
    margin-bottom: 50px;

    .rayRight {
        position: absolute;
        right: -160px;
        top: -30px;
        text-align: center;
        width: 300px;


        &:not(.noRotate) {
            -webkit-transform: rotate(90deg)
        }
    }



    .dimensionLabel {
        position: absolute;
        width: fit-content;
        top: 45px;
        font-weight: bold;
        left: 100px;
    }

    .dimensionLabelRight {
        position: absolute;
        font-weight: bold;
        right: -96px;
        font-size: 15px;
        -webkit-transform: rotate(90deg) !important;
    }

    .dimensionRight {
        position: absolute;
        text-align: center;
    }

    .rayLeft {
        position: absolute;
        left: -162px;
        top: -28px;
        width: 300px;
        text-align: center;
        width: 300px;

        &:not(.noRotate) {
            -webkit-transform: rotate(90deg)
        }
    }

    tr {
        border: none;
    }

    .wrapper {
        width: 700px;
        height: 700px;
        border: 1px solid black;
        border-radius: 100%;
    }


    .rotation-wrapper-outer {
        display: table;
    }

    .rotation-wrapper-inner {
        padding: 50% 0;
        height: 0;
    }

    .ray {
        height: 3px;
        background: #00000085;
        width: 700px;
        margin-top: -3px // position: absolute;
            // top: 50%;
    }

    table {
        width: 100%;
    }

    table:not(.right) {
        margin-top: -16px;
    }

    table.right .insideCircle {
        float: right;
    }

    .ray td {
        /* background: red; */
        width: 10%;
        padding: 0;
    }

    .ray2 {
        -webkit-transform: rotate(-36deg);
        /* top: -185px; left: 85px; */
    }

    .ray2 {
        -webkit-transform: rotate(-36deg);
        /* top: -185px; left: 85px; */
    }

    .ray3 {
        -webkit-transform: rotate(-72deg);
        /* top: -138px; left: 135px; */
    }

    .ray4 {
        -webkit-transform: rotate(-108deg);
        /* top: -61px; left: 157px; */
    }

    .ray5 {
        -webkit-transform: rotate(-144deg);
        /* top: 30px; left: 119px; */
    }

    .svgWrap svg {
        position: absolute;
        /* top: -30px */
        top: 0;
        left: 0;
        height: 200vh;
    }

    svg line {
        stroke: #bc0078 !important;
    }

    .hideDots {
        opacity: .5;
    }

    .insideCircle.hide,
    .hide {
        display: none;
    }

    .insideCircle {}

    .insideCircle {
        background: #fff;
        width: 10px;
        height: 10px;
        border: 2px solid #A99666;
        border-radius: 20px;
        margin-top: -4px;
        padding: 0;

        &.clicked {
            background: #bc0078;
            border: #bc0078;
        }
    }
}